/* Estilos comunes a ambos temas */

.container {
  height: 70vh;
  border-radius: 2vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  contain: content;
}

.columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column1 {
  display: flex;
  justify-content: space-evenly;
  padding: 5vh 2vw;
}

.section1 {
  position: relative;
}

.section1 p {
  font-size: clamp(6px, 2.5vw, 100px);
  margin: 0.5vh 0;
}

.section2 {
  display: flex;
  flex-direction: row;
}

.section2 p {
  font-size: clamp(4px, 1.2vw, 40px);
}

.highlightedText {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 0 0.5vw;
}

.tripleOval {
  position: absolute;
  bottom: -1vh;
  z-index: -1;
}

.section3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.section3 p {
  font-size: clamp(4px, 1.2vw, 40px);
  text-align: center;
}

.loginButtonsContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.column2 {
  position: relative;
}

.column2 h2 {
  color: #ffffff;
  font-size: clamp(4px, 1.8vw, 50px);
  text-align: center;
  margin-bottom: 0;
}

.column2 h6 {
  font-size: clamp(4px, 1.2vw, 40px);
  text-align: center;
  margin: 1.5vh 0 5vh;
}

.section4 {
  background-color: #ffffff;
  height: 6vh;
  border-radius: 4vh;
  display: flex;
  position: relative;
  align-items: center;
  padding: 1vh 2.5vw;
}

.section4 p {
  font-size: clamp(4px, 2vw, 50px);
  font-weight: 700;
}

.joinStreamBtn {
  all: unset;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: -2vh;
  left: -4vh;
}

.joinStreamBtn:active {
  background-color: rgba(118, 68, 160, 0.2);
}

.addUserIcon {
  height: 2vh;
  width: auto;
}

.section5 {
  width: 100%;
  position: relative;
}

.imgContainer {
  height: 7vh;
  width: 7vh;
  border-radius: 1vh;
  position: absolute;
}

.smallImg {
  height: 90%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.smallImgContainer1 {
  top: 3vh;
  left: 3vw;
}

.smallImgContainer2 {
  right: 3vw;
  top: 8vh;
}

.img3 {
  max-width: 70%;
  max-height: 55%;
  position: absolute;
  bottom: 0;
}
.vector1 {
  max-width: 50%;
  max-height: 38%;
  position: absolute;
  bottom: 4vh;
}

.reactionBox {
  background-color: #222222;
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1.8vh 0 0 -1vw;
}

.reaction {
  color: #ffffff;
  height: 2vh;
  width: 2vh;
}

/* Estilos del tema claro */

.containerLight {
  background-color: #ffffff;
}

.column1HTLight {
  color: #fd8843;
}

.column1DescriptionLight {
  color: #222222;
}

.highlightedTextLight {
  color: #111111;
}

.columnLight {
  background-color: #7644a0;
}

.column2DescriptionLight {
  color: #54005f;
}

.clockTextLight {
  color: #7644a0;
}

.imgContainerLight {
  background-color: rgba(68, 14, 112, 0.7);
}

/* Estilos del tema oscuro */

.containerDark {
  background-color: #2b3138;
}

.column1HTDark {
  color: #7e33f0;
}

.column1DescriptionDark {
  color: #888888;
}

.highlightedTextDark {
  color: #ffffff;
}

.columnDark {
  background-color: #fd8843;
}

.column2DescriptionDark {
  color: #dc5e14;
}

.clockTextDark {
  color: #fd8843;
}

.imgContainerDark {
  background-color: #eb742d;
}
