/* Estilos generales */

.container {
  display: grid;
  height: 72vh;
  border-radius: 2vh;
  grid-template-columns: repeat(3, 1fr);
  z-index: -5;
}

.columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Columna 1 */

.column1 {
  justify-content: space-evenly;
}

.section1 {
  position: relative;
}

.section1Text {
  font-size: clamp(6px, 2.5vw, 100px);
  margin: 0.5vh 0;
  position: relative;
  z-index: 2;
}

.tripleOval {
  width: 100%;
  height: 85%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.section2 {
  display: flex;
  justify-content: center;
}

.section2 span {
  font-size: clamp(2px, 1.2vw, 40px);
  white-space: nowrap;
}

.highlightedTextContainer {
  display: flex;
  flex: 0;
  flex-direction: column;
  margin: 0 0.8vh;
}

.highlightedText {
  font-weight: bold;
}

.underlineText {
  width: 95%;
  margin-top: 0.5vh;
}

.section3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section3 p {
  font-size: clamp(2px, 1.2vw, 40px);
  text-align: center;
}

.loginButtonsContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

/* Columna 2 */

.column2 {
  position: relative;
}

.column2 h2 {
  color: var(--color1);
  font-size: clamp(4px, 1.8vw, 50px);
  text-align: center;
  margin-bottom: 0;
}

.column2 h6 {
  font-size: clamp(2px, 1.2vw, 40px);
  text-align: center;
  margin: 1.5vh 0 5vh;
}

.section4 {
  background-color: var(--color1);
  height: 6vh;
  display: flex;
  border-radius: 4vw;
  position: relative;
  align-items: center;
  padding: 0.5vw 2vw;
}

.section4 p {
  font-size: clamp(4px, 1.8vw, 50px);
  font-weight: 500;
  margin: 0;
}

.joinStreamBtn {
  all: unset;
  background-color: var(--color19);
  backdrop-filter: blur(2px);
  display: flex;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: -2vh;
  left: -3.4vh;
}

.joinStreamBtn:active {
  background-color: transparent;
}

.addUserIcon {
  height: 2vh;
  width: auto;
}

.fortniteImg {
  max-width: auto;
  max-height: 55%;
  position: absolute;
  bottom: 0;
}
.vector1 {
  max-width: 50%;
  max-height: 38%;
  position: absolute;
  bottom: 4vh;
}

/* Columna 3 */

.column3 {
  padding: 4vh;
  overflow: hidden;
}

.column3Sections {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  margin: 3.5vh 0 2vh;
}

.column3TitleNum {
  color: var(--color7);
}

.column3 p {
  font-size: clamp(2px, 1vw, 40px);
  margin: 0 1vw 0 0;
}

.column3LastSection {
  height: 100%;
}

.filterContainer {
  height: 100%;
  border-radius: 1.5vh;
  display: flex;
  flex-direction: column;
  contain: strict;
}

.errorMessageContainer {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorMessageText {
  padding: 0 2vw;
  text-align: center;
}

.filterOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vh;
  border-bottom-width: 0.3vh;
  border-bottom-style: solid;
}

.filterSearchInput {
  all: unset;
  font-size: clamp(2px, 1.2vw, 40px);
  width: 100%;
}

.filterIcon {
  color: var(--color7);
  width: 1.5vw;
  height: auto;
  padding: 2.2vh;
}

.inputSuggestions {
  font-size: clamp(2px, 1vw, 40px);
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: auto;
  z-index: 20;
}

.inputSuggestions::after {
  content: "";
  padding-bottom: 10%;
}

.suggestedOptionButton {
  all: unset;
  margin: 1vw;
}

.filterResultsBody {
  height: 100%;
  flex-direction: column;
  overflow: auto;
  position: relative;
}

/* Hacer que el contenido final se desplace hasta poco mas de la mitad del contenedor */
.filterResultsBody::after {
  content: "";
  display: block;
  height: 30%;
}

.filterResults {
  display: flex;
  align-items: center;
  margin: 1.5vh 2vh;
}

.filterResults:after {
  height: 45%;
  width: 99%;
  position: fixed;
  content: "";
  bottom: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

.resultIndex {
  background-color: var(--color3);
  font-size: calc(1.5vw * 0.5);
  display: flex;
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 1.5vh;
}

.resultsText {
  display: flex;
  flex: 0.6;
  overflow: hidden;
}

.resultsAvatarsContainer {
  display: flex;
  flex: 1;
  margin-right: 1vw;
  overflow: hidden;
}

.column3AddButton {
  all: unset;
  font-size: calc(1.8vw * 0.6);
  height: 1.8vw;
  width: 1.8vw;
  display: flex;
  border-radius: 0.5vw;
  justify-content: center;
  align-items: center;
}

.searchButton {
  all: unset;
  background-color: var(--color0);
  box-shadow: 0 15px 12px 0 var(--color15);
  font-size: clamp(2px, 1.2vw, 40px);
  font-weight: 700;
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  margin: 0 3vh 1vh;
  padding: 0.7vw 0;
  z-index: 4;
}

.searchButton:active {
  background-color: var(--color7);
}

/* Estilos de la barra de desplazamiento de la ultima sección de la columna 3*/
.scrollBar::-webkit-scrollbar {
  width: 0.3vw;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: var(--color7);
  border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-thumb:hover {
  background: var(--color8);
}

/**********************|   Estilos de tema   |*******************/

/* Estilos del tema claro */

.containerLight {
  background-color: var(--color1);
  color: var(--color18);
}

.underlineTextLight,
.clockTextLight,
.column1HTDark {
  color: var(--color9);
}

.text1Light,
.column3LastSectionLight {
  color: var(--color5);
}

.highlightedTextLight {
  color: var(--color3);
}

.columnLight {
  background-color: var(--color9);
}

.column2DescriptionLight {
  color: var(--color10);
}

.vector1Light {
  color: var(--color17);
}

.filterContainerLight {
  background-color: var(--color0);
}

.filterBorderBottomLight {
  border-bottom-color: var(--color15);
}

.filterSearchInputLight:-webkit-autofill,
.filterSearchInputLight:-webkit-autofill:hover,
.filterSearchInputLight:-webkit-autofill:focus,
.filterSearchInputLight:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.filterResultsTextLight {
  color: var(--color5);
}

.filterResultsTextLight::after {
  background: linear-gradient(to top, var(--color19), transparent);
}

.resultIndexLight {
  background-color: var(--color15);
}

.column3AddButtonLight {
  background-color: var(--color15);
}

.searchButtonLight {
  background-color: var(--color4);
  color: var(--color1);
}

/* Estilos del tema oscuro */

.containerDark {
  background-color: var(--color5);
}

.containerDark {
  color: var(--color16);
}

.underlineTextDark,
.clockTextDark,
.column1HTLight {
  color: var(--color11);
}

.text1Dark {
  color: var(--color7);
}

.highlightedTextDark,
.column3LastSectionDark,
.filterResultsTextDark {
  color: var(--color1);
}

.columnDark {
  background-color: var(--color11);
}

.column2DescriptionDark,
.vector1Dark {
  color: var(--color12);
}

.filterContainerDark {
  background-color: var(--color4);
}

.filterBorderBottomDark {
  border-bottom-color: var(--color5);
}

.filterSearchInputDark:-webkit-autofill,
.filterSearchInputDark:-webkit-autofill:hover,
.filterSearchInputDark:-webkit-autofill:focus,
.filterSearchInputDark:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--color2);
}

.resultIndexDark {
  background-color: var(--color3);
}

.filterResultsTextDark::after {
  background: linear-gradient(to top, var(--color20), transparent);
}

.column3AddButtonDark {
  background-color: var(--color19);
}

.searchButtonDark {
  background-color: var(--color0);
  color: var(--color4);
}
