.signin,
.signup {
  all: unset;
  font-size: clamp(2px, 1.2vw, 40px);
}

.signin:active {
  color: var(--color9);
}

.signup {
  box-shadow: 0 15px 12px 0 var(--color15);
  border-radius: 80px;
  padding: 2vh 1.5vw;
}

.signup:active {
  background-color: var(--color7);
}

/* Estilos de tema claro */
.textLight {
  color: var(--color5);
}
.signupLight {
  background-color: var(--color1);
}

/* Estilos de tema oscuro */
.textDark {
  color: var(--color1);
}

.signupDark {
  background-color: var(--color6);
}
