.signin,
.signup {
  all: unset;
  font-size: clamp(4px, 1.2vw, 40px);
}

.signin:active {
  color: #7644a0;
}

.signup {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 80px;
  padding: 2vh 1.5vw;
}

.signup:active {
  background-color: rgba(1, 1, 1, 0.4);
}

/* Estilos de tema claro */
.textLight {
  color: #222222;
}
.signupLight {
  background-color: #ffffff;
}

/* Estilos de tema oscuro */
.textDark {
  color: #ffffff;
}

.signupDark {
  background-color: #33393d;
}
