.container {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  align-self: center;
  height: auto;
  width: 40vw;
  font-size: clamp(4px, 1.5vw, 50px);
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  padding: 5vh;
}

form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

input {
  all: unset;
  background-color: transparent;
  font-size: clamp(4px, 1.2vw, 40px);
  border: 0.2vh solid #bbbbbb;
  width: 50%;
  border-radius: 1.5vh;
  padding: 2vh;
}

input:focus {
  all: unset;
  width: 50%;
  border: 0.5vh solid #7644a0;
  border-radius: 1.5vh;
  padding: 2vh;
}

/* Evitar cambio de fondo del campo de entrada después del autocompletado */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.cancelBtn {
  all: unset;
  color: #222222;
  font-size: clamp(4px, 2vw, 60px);
  border-radius: 1.5vh;
  margin-left: auto;
  padding: 0.5vh 1vw;
}

.cancelBtn:active {
  background-color: rgba(1, 1, 1, 0.1);
}

.acceptBtn {
  all: unset;
  color: #ffffff;
  background-color: #7644a0;
  font-size: clamp(4px, 1.5vw, 40px);
  border-radius: 1.5vh;
  padding: 2vh 5vw;
}

.acceptBtn:active {
  background-color: rgba(118, 68, 160, 0.5);
}

/* Estilos de Texto */
.title {
  align-self: center;
}

.helperText {
  align-self: center;
}

.loginError {
  font-size: clamp(4px, 1.2vw, 40px);
  margin-top: -3vh;
}

.auxText {
  font-size: clamp(4px, 1.2vw, 40px);
  margin-top: 5vh;
}

.auxText a {
  color: #7644a0;
  font-size: clamp(4px, 1.2vw, 40px);
  text-decoration: none;
}

/* Estilos de Tema Claro */
.formContainerLight {
  background-color: #ffffff;
}

.textLight {
  color: #222222;
}

.errorTextLight {
  color: red;
}

/* Estilos de Tema Oscuro */
.formContainerDark {
  background-color: #2b3138;
}

.textDark {
  color: #cccccc;
}

.errorTextDark {
  color: rgb(245, 112, 112);
}
