.navbar {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  /* gap: indica la distancia entre elementos de la lista */
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: #222;
  /* el tamaño de la fuente será 1.5vw si ese valor está entre 15px y 20px. Si 1.5vw es menor que 15px o mayor que 20px, el tamaño de la fuente será 15px o 20px respectivamente.*/
  font-size: clamp(15px, 1.5vw, 20px);
}

.navbar a.activeRoute {
  color: #7644a0;
}

.hide {
  transform: translateY(-100%);
}

.logo {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

.blurCircle {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: -8px;
}

.signUp {
  margin-left: 3vw;
}

.signout {
  all: unset;
  border-radius: 5px;
  padding: 5px 10px;
}

.signout:active {
  color: #ffffff;
  background-color: rgba(1, 1, 1, 0.4);
}
