.navbar {
  height: 14vh;
  padding: 3vh 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  /* gap: indica la distancia entre elementos de la lista */
  gap: 3vw;
  max-width: 50%;
  flex-wrap: wrap;
}

.navbar li {
  display: flex;
  flex-wrap: wrap;
}

.navbar a,
.signout {
  font-size: clamp(2px, 1.2vw, 40px);
}

.navbar a {
  text-decoration: none;
  /* el tamaño de la fuente será 1.5vw si ese valor está entre 15px y 20px. Si 1.5vw es menor que 15px o mayor que 20px, el tamaño de la fuente será 15px o 20px respectivamente.*/
  font-size: clamp(2px, 1.2vw, 40px);
}

.navOptionContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.oval {
  position: absolute;
  width: 170%;
}

.rightSection {
  display: flex;
  height: 100%;
  align-items: center;
}

.toggleTheme {
  all: unset;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3vw;
  padding: 1vh;
}

.toggleTheme:active {
  background-color: var(--color7);
}

.signup {
  background-color: var(--color3);
  color: var(--color1);
  border: 0.1vh solid var(--color6-1);
  margin-left: 3vw;
}

.signout {
  all: unset;
  font-size: clamp(2px, 1.2vw, 40px);
}

.signout:active {
  color: var(--color9);
}

/* Estilos del tema claro */

.activeRouteLight {
  color: var(--color9);
}

.ovalLight {
  color: var(--color8);
}

.toggleLight {
  background-color: var(--color4);
}

.textLight {
  color: var(--color3);
}

.lightIcon {
  color: var(--color4);
}

/* Estilos del tema oscuro */

.textDark {
  color: var(--color7);
}

.ovalDark {
  color: var(--color11);
}

.activeRouteDark {
  color: var(--color11);
}

.toggleDark {
  background-color: var(--color1);
}

.darkIcon {
  color: var(--color2);
}
