.mainContainer {
  display: flex;
}

.imgContainer {
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  height: calc(1.5vw * 0.6);
  width: calc(1.5vw * 0.6);
}
