body {
  background-color: var(--color2);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body::-webkit-scrollbar {
  width: 0.4vw;
}

body::-webkit-scrollbar-thumb {
  background: var(--color7);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--color8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
